@import "../../assets/styles/settings/fonts.scss";

.hero {
	max-width: 100%;
	height: 100vh;
	margin: 0 0 0 0;
	position: relative;
	display: flex;

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		z-index: 1;
		padding: 0%;
	}

	&__content {
		text-align: center;
		margin: -80px 0 0 0;
		z-index: 2;

		h1 {
			@include font-raleway-bold;
			letter-spacing: 4px;
			color: white;
			font-size: clamp(30px, calc(1.875rem + ((1vw - 5.76px) * 4.6296)), 95px);
		}

		h2 {
			@include font-raleway-bold;
			letter-spacing: 4px;
			color: white;
			font-size: clamp(14px, calc(0.875rem + ((1vw - 5.76px) * 1.8519)), 40px);
		}
	}
}
