@import "vendors/_bootstrap-grid.scss";
@import "settings/_vars.scss";
@import "settings/_fonts.scss";
@import "settings/_mixins.scss";
@import "base/_grid.scss";
body {
	background-color: #e0e1e2;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
