@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;800&display=swap");

// regular
@mixin font-raleway-regular {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-style: normal;
}

// thin
@mixin font-raleway-thin {
	font-family: "Raleway", sans-serif;
	font-weight: 200;
	font-style: normal;
}

// bold
@mixin font-raleway-bold {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-style: normal;
}
