@import "../../../assets/styles/settings/fonts.scss";
@import "../../../assets//styles/settings/vars.scss";

.forumPostDetails {
	background-color: $color-cardbackground;
	height: fit-content;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 0px 0px 0px 0px;

	&__media {
		width: 100%;
		img {
			width: 500px;
			height: auto;
		}
	}

	&__titleAndDate {
		margin: 0px 0px 5px 0px;
		padding: 0px;
		background-color: lightgray;
		@include font-raleway-bold;
		display: flex;
		justify-content: space-between;
		align-content: center;
	}

	&__title {
	}

	&__date {
	}
}
