@import "../../../assets/styles/settings/fonts.scss";
@import "../../../assets//styles/settings/vars.scss";

.navigation {
	padding: 16px;
	list-style: none;
	text-decoration: none;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	z-index: 99999;
	height: 80px;
	width: 100%;

	&__logo {
		padding: 0 10px 0 10px;
		font-size: 24px;
		color: white;
		list-style: none;
		text-decoration: none;
		@include font-raleway-bold;
	}

	&__menuItems {
		width: 100%;
		display: flex;
		justify-content: right;
	}

	&__menuItem {
		padding: 0 10px 0 10px;
		color: white;
		list-style: none;
		text-decoration: none;
		@include font-raleway-bold;
	}
}
