@import "../../assets/styles/settings/fonts.scss";
@import "../../assets//styles/settings/vars.scss";
* {
	box-sizing: border-box;
}

.bmi-wrapper {
	background: $color-cardbackground;
	height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

	&__title {
		padding: 10px;
		@include font-raleway-bold;
		text-align: center;
	}

	&__chart {
		text-align: center;
	}
}

.skill-block {
	width: 30%;
}
