@import "../../assets/styles/settings/fonts.scss";
@import "../../assets//styles/settings/vars.scss";

* {
	box-sizing: border-box;
}

.openButton {
	background: $color-cardbackground;
	width: fit-content;
	height: 40px;
	margin: 10px;
}

.popup {
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	border: 3px solid #f1f1f1;
	padding: 16px;
	background: #fff;
	width: 500px;
	height: fit-content;

	&__title {
		@include font-raleway-bold;
		font-size: 35px;
		margin-bottom: 20px;
	}

	&__inputField {
		margin-bottom: 20px;
		label {
			@include font-raleway-bold;
			font-size: 20px;
		}
		input {
			width: 100%;
			padding: 16px;
			font-style: italic;
			border: none;
			background-color: #f1f1f1;
		}
		textarea {
			width: 100%;
			padding: 16px;
			font-style: italic;
			border: none;
			background-color: #f1f1f1;
		}
		select {
			width: 100%;
			padding: 16px;
			font-style: italic;
			border: none;
			background-color: #f1f1f1;
		}
	}

	&__create {
		margin-bottom: 20px;
		button {
			@include font-raleway-bold;
			color: white;
			width: 100%;
			height: 50px;
			background: #36bc8a;
			border: none;
		}

		button:hover {
			background: #04aa6d;
		}
	}

	&__close {
		button {
			@include font-raleway-bold;
			color: white;
			width: 100%;
			height: 50px;
			background: #ff3335;
			border: none;
		}

		button:hover {
			background: #ff0000;
		}
	}
}
