@import "../../assets/styles/settings/fonts.scss";
@import "../../assets//styles/settings/vars.scss";

.about {
	padding: 32px;
	margin-bottom: 35px;
	background-color: $color-cardbackground;
	max-width: 100%;
	height: fit-content;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;

	&__content {
		h1 {
			margin: 0;
			@include font-raleway-bold;
		}

		p {
			margin-top: 10px;
			@include font-raleway-regular;
		}
	}

	&__image {
		display: flex;
		justify-content: right;
		img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		}
	}
}
