@import "../../../../assets/styles/settings/fonts.scss";
@import "../../../../assets//styles/settings/vars.scss";

.forumComment {
	height: fit-content;
	margin-bottom: 30px;

	&__description {
		p {
			padding: 20px;
			margin: 0;
		}
		background-color: $color-cardbackground;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		@include font-raleway-regular;
	}

	&__authorAndDate {
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		align-content: center;
	}

	&__name {
		@include font-raleway-regular;
		color: $color-bluefont;
		p {
			margin: 0;
		}
	}

	&__date {
		@include font-raleway-regular;
		p {
			margin: 0;
		}
	}
}
